html {
    min-height: auto;
    position: relative;
  }
    
  
footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: auto;
  color: white;
  text-align: center;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a2537;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  
   
    
   
.main_container{

    background-color: #374d70;
    text-align: center;
    padding: 3px 10px;
  border: rgb(0, 0, 0) 5px solid;
  border-radius: 20px;
} 


.cont{
  width: 100%;
  padding: 15px;
  top: auto;
  background-color: #1a2537;

}


.conti{
  display: flex;
  justify-content: center;
  padding: 3px 10px;
  border: rgb(17, 89, 99) 5px solid;
  border-radius: 20px;
}
.col-md-6{

 
  justify-content: center;
  padding: 3px 10px;
  border: rgb(17, 89, 99) 5px solid;
  border-radius: 20px;

}
